<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/styles.css">
    <!-- <link rel="stylesheet" href="../css/dashboard.css"> -->
</head>
<body>
    <header id="header">
        <div class="container">
            <h1 id="head-in" style="display: inline;">INVO~MANAGE</h1>
            <nav>
                <ul>
                    <li><a href="/user/dashboard">Products</a></li>
                    <li><a href="/user/cart">Cart</a></li>
                    <li><a href="/user/order">Orders</a></li>
                    <li><a href="/">Login/Register</a></li>
                    <!-- <li><a href="register.html">Register</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
        <div class="container-div">
            <form action="/user/checkUser" method="post">
                <h2>Login</h2>
                <div class="form-control">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your name" required>
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"  placeholder="Enter your Password" required>
                </div>
                <button id="login" type="submit">Login</button>
                <p>Don't have an account? <a href="user/register" >Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>
